html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

@font-face{
    font-family: "Horror";
    src: url("../images/horror.ttf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: darkolivegreen;
}

// #ghost{
//     width: 200px;
// }


footer.social-links{
    border: 1px solid darkseagreen;
    background-color: wheat;
    border-radius: 10px;
    display: flex;
    // margin-top: 50px;
    // margin-left: 10px;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.social-links{
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}

// .social-links h1{
//     font-size: 28px;
//     margin-bottom: 20px;
// }

.social-links h2{
    font-size: 20px;
}

// .social-links h3{
//     margin-top: 10px;
//     font-size: 16px;
// }

.move-keys{
    max-width: 90px;
    max-height: 90px;
}

.social-logo{
    width: 50px;
    min-height: 50px;
    // margin: 20px;
}

#directions h2{
    font-family: Horror;
    font-size: 8em;
    // margin: 0px 15px;
    text-align: center;
}

#button1{
    border: 5px solid black;
    color:  black;
    background-color: darkolivegreen;
    font-family: Horror;
    border-radius: 10px;
    // padding: 15px 32px;
    // text-align: center;
    // text-decoration: none;
    // display: inline-block;
    font-size: 6em;
    // margin: 4px 2px;
    cursor: pointer;
}

#button2{
    border: 5px solid black;
    color:  black;
    background-color: darkolivegreen;
    font-family: Horror;
    border-radius: 10px;
    font-size: 4em;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-top: 50px;
}

#change{
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#death p{
    font-family: Horror;
    font-size: 5em;
}
#death h1{
    font-family: Horror;
    font-size: 6em;
    text-align: center;
}

#death-center{
    // background-color: white;
    height: 100%;
    position: absolute;
    justify-content: center;
    display: flex;
}

#death{
    margin-bottom: 50px;
    border: 5px solid black;
    color:  black;
    background-color: darkolivegreen;
    // margin: 0 auto;
    align-self: center;
    // position: static;
    // margin-top: auto;
    // position: absolute;
    // display:flex;
    // justify-content: center;
    // align-items: center;
}

.canvas-wrap{
    width: auto;
    
}

#directions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 600px;
    max-height: 430;
    padding: 0 4vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    position: relative;
}

#directions p{
    font-size: 30px;
    margin: 0px 15px;
    margin-bottom: 30px;
    text-align: center;
}



.canvas-wrap h1{
    font-size: 12em;
    margin: 0px 15px;
    text-align: center;
    font-family: Horror;
}